<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awtrix.template">

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/timeicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Template">
        <activity android:name=".TestActivity"></activity>
        <activity
            android:name=".settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Template.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Template.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="awtrix.frontend" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Awtrix"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>